* {
  box-sizing: border-box;
}
body {
  margin: 24px auto;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
p > a {
  display: block;
  margin-bottom: 24px;
}
ul {
  padding: 0;
  list-style: none;
}
.gallery {
  max-width: 1126px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 20px;
}
.gallery-item {
  height: 200px;
  transition: transform 150ms ease-in;
}
.gallery-item:hover {
  transform: scale(1.04);
  transition: transform 150ms ease-in;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease-in;
}
